################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/*/bin
/*/obj
*.user
/.vs
*.suo
*.dtbcache
/AnimationTransitionExample/Sprites
/AnimationTransitionExample/Sounds
/TilingExample/Sprites
